<!-- <app-header (featureSelected)="onNavigate($event)"></app-header>
<app-airline-staff *ngIf="loadedFeature==='flight'"></app-airline-staff>
<app-admin *ngIf="loadedFeature!=='flight'"></app-admin> -->
<!-- <app-inflight *ngIf="loadedFeature!=='checkin'"></app-inflight>
<app-checkin *ngIf="loadedFeature==='checkin'"></app-checkin> -->


<!-- <div class="cont">

    <nav class="navbar navbar-custom navbar-dark">
                  <i class="fa fa-plane far">&nbsp;<span>SKY WORLD</span></i> -->
                   <!-- <span><a routerLinkActive="active" routerLink="/login" style="color:white" (click)="log()"><strong>LOGIN</strong></a></span> -->
                   
    
    <!-- </nav>
    <div> -->
        <!-- <app-login></app-login> -->
      <!-- </div> -->
    
    
    <!-- <app-header></app-header> -->
        
      <router-outlet routerLinkActive="active" routerLink="/login"></router-outlet>
    <!-- </div> -->

